body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.logo{
    text-align: center;
}

.heure{
    color: #E779E2;
}

/*Menu*/

nav{
    width: 80%;
    margin: 0 auto 40px auto;
    background-color: white;
    position: sticky;
    top: 0;
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 25%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0;/*Agrandit le menu et espace la bordure du texte*/
    font-size: 20px;
}

nav a:hover{
    color: #E779E2;
    border-bottom: 2px solid #D78BD4;
}

.panneauAnnonce{
    display: flex;
    margin-bottom: 5%;
    width: 100%;
    height: 600px;
}

#annonce{
    flex: 1;
}

.separation {
    width: 50%;
    margin: 0 auto;
}

h1 {
    display: table;
    white-space: nowrap;
    text-align: center;
    font-size: 25px;
}

h1:before, h1:after {
    content: "";
    display: table-cell;
    width: 50%;
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=) repeat-x left center;
}

/* flex coiffure modele */

.containerProfil{
    display: flex;
    width: 92%;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 12%;
    margin-bottom: 5%;
}

.profil{
    margin: 2%;
}

.imgProfil{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}

.imgProfil:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.containerTarif{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 5%;
}

#tarifFemme{
}

#tarifHomme{

}

.horraire{
    margin-bottom: 150px;
}

#titreHoraire{
    font-size: 30px;
    text-align: center;
}

#separationHoraire{
    display: flex;
    width: 220px;
    border: black solid 1px;
    margin-left: auto;
    margin-right: auto;
}

#textHoraire{
    font-size: 25px;
    text-align: center;
}

footer {
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #505050;
    color: white;
}

.containeurFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.logoFooter{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.containerTelephone{
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

#textePhone{
    font-size: 23px;
    margin-left: 10px;
}

#logoPhone{
}

.containerMail{
    display: flex;
}

#logoMail{
}

#texteMail{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 8px;
}

.containeurBasFooter{
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.containerReseau{
    display: flex;
    justify-content: space-between;
    width: 10%;
}

#relais{
    width: 300px;
    height: 70px;
}

